<!--Shaolin Dragons
    Jasper Cheung, Shannon Lau, Carol Pan, Helen Ye
    SoftDev pd7
    P02 - 4Gifs1Word -->

{% extends "base.html" %}

{% block content %}
<div class="card card-center">
  <form action="/" method="POST">
    <h1 class="card-header">WOOPS!</h1>
    <p>We apologize; there must've been some kind of error. Please check your API configuration.<br><br> Click <a class="link-dotted" target="_blank" href="https://github.com/slau8/shaolin-dragons/blob/master/README.md">here</a> for more information.</p><br>
    <input value="TAKE ME HOME" name="error" class="btn btn-block" type="submit">
  </form>
</div>
{% endblock %}
