<!--Shaolin Dragons
    Jasper Cheung, Shannon Lau, Carol Pan, Helen Ye
    SoftDev pd7
    P02 - 4Gifs1Word -->

{% extends "base.html" %}

{% block title %}
4 GIFS 1 WORD
{% endblock %}

{% block content %}
<div class="container">
  <div class="row header">
    <div class="col-sm-2" id="back">
      <a type="button" class="btn btn-outline btn-icon" href="/categories">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </div>
    <div class="col-sm-8">
      <h1 style="margin: 0">WHAT'S THE WORD?<h1>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
  <div class="row thumbnails">
    {% for gif in gifs %}
    <div class="col-sm-3">
      <div class="img-container">
        <img class="thumbnail" src="{{ gif }}" alt="4 GIFS 1 WORD">
        <div class="flag-overlay">
          <a type="button" class="btn btn-default btn-icon"
          href="{{ url_for('gif_flag', category = category, word = word, url = gif) }}">
            <span class="glyphicon glyphicon-flag"></span>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="container card-letters" align="center">
    {% for letter in letters %}
    {% if loop.index0 < (letters|length)/2 %}
    <span class="card card-letter card-animate" id="bank{{ loop.index0 }}">{{ letter.upper() }}</span>
    {% endif %}
    {% endfor %}
  </div>
  <div class="container card-letters" align="center" style="margin-top: 15px;">
    {% for letter in letters %}
    {% if loop.index0 >= (letters|length)/2 %}
    <span class="card card-letter card-animate" id="bank{{ loop.index0 }}">{{ letter.upper() }}</span>
    {% endif %}
    {% endfor %}
  </div>
  <div class="container card-letters" align="center" style="margin-bottom:10px;">
    <a type="button" class="btn btn-default btn-icon" href="#">
      <span class="glyphicon glyphicon-flag"></span>
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    {% for letter in word %}
    <span class="card-pressed card-letter" id="word{{ loop.index0 }}"> </span>
    {% endfor %}
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-default btn-icon" id="return">
      <span class="glyphicon glyphicon-repeat"></span>
    </button>
  </div>
</div>
{% endblock %}
{% block script %}
  <script src="../static/js/main.js"></script>
{% endblock script %}
