<!--Shaolin Dragons
    Jasper Cheung, Shannon Lau, Carol Pan, Helen Ye
    SoftDev pd7
    P02 - 4Gifs1Word -->

{% extends "base.html" %}

{% block title %}
Game | 4 GIFS 1 WORD
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="header">WHAT'S THE WORD?</h1>
  <div class="row thumbnails">
    {% for gif in gifs %}
    <div class="col-sm-3">
      <div class="img-container">
        <img class="thumbnail" src="{{ gif }}" alt="4 GIFS 1 WORD">
        <div class="flag-overlay"><a type="button" class="btn btn-default btn-icon"
                                                   href="{{ url_for('gif_flag', category=category, word=word, url=gif) }}">
          <span class="glyphicon glyphicon-flag"></span>
        </a></div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="container card-letters" align="center">
    {% for letter in letters %}
    <span class="card card-letter card-animate" id="bank{{ loop.index0 }}"><b>{{ letter.upper() }}</b></span>
    {% endfor %}
  </div>
  <div class="container card-letters" align="center" style="margin-bottom:10px;">
    {% for letter in word %}
    <span class="card-pressed card-letter" id="guess{{ loop.index0 }}">{{ letter.upper() }}</span>
    {% endfor %}
  </div>
</div>
{% endblock %}
