<!--Shaolin Dragons
Jasper Cheung, Shannon Lau, Carol Pan, Helen Ye
SoftDev pd7
P02 - 4Gifs1Word -->

{% extends "base.html" %}
{% block bodyclass %}
{% endblock bodyclass %}

{% block nav %}
<div class="container-fluid bg-gradient banner">
  <nav class="navbar">
    <div class="container" id="nav">
      <a href="/" class="navbar-left" style="margin-right:15px;"><img class="img-logo" src="../static/img/logo.png" width="40" height="40"></a>
      <div class="navbar-header">
        <a class="navbar-brand" href="/">4 GIFS 1 WORD</a>
      </div>
      <div class="navbar-right">
        {% if logged_in %}
        <a class="btn btn-outline btn-icon" href="/logout"><span class="glyphicon glyphicon-log-out"></span></a>
        {% else %}
        <a class="btn btn-outline btn-icon" href="/login"><span class="glyphicon glyphicon-log-in"></span></a>
        {% endif %}
      </div>
      <ul class="nav navbar-nav navbar-right nav-name">
        {% if logged_in %}
        <li class="nav-item space"><a href="{{ url_for('.rankings', _anchor = username.lower()) }}" style="color:white; background-color: transparent;"><b>WELCOME, {{ username }}</b> <span class="badge">{{ score }}</span></a></li>
        {% else %}
        <li class="nav-item space"><b>WELCOME, {{ username }}</b> <span class="badge">{{ score }}</span></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% endblock nav %}

  {% block content %}
  <div class="homegif">
    <iframe src="https://giphy.com/embed/xT1XH3TI6KbGLmHmuY" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/empire-xT1XH3TI6KbGLmHmuY"></a></p>
  </div>
  <div class="container">
    <div class="row home-btns">
      <div class="col-sm-4">
        <a href="/rankings">
          <div class="card card-animate">
            <h1>RANKINGS</h1>
            <p class="text-muted">see who's on top</p>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="/categories">
          <div class="card card-animate">
            <h1 class="color-shadow">PLAY GAME</h1>
            <p class="text-muted">let's get rolling</p>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="/appfun">
          <div class="card card-animate">
            <h1>APP FUN</h1>
            <p class="text-muted">bonus features for you</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container description text-justify">
  <h1 class="header" style="margin-bottom: 5%;">WELCOME TO 4 GIFS 1 WORD!</h1>
    <p>Join the hype and play 4 GIFS 1 WORD, the ultimate puzzle game of the 21st century. Choose a category, marvel at four related GIFs, and spell out the word that connects them all together.</p><br>
    <p>Each word guessed correctly wins you a whopping 100 points—the more you get, the higher you climb on the rankings. Challenge yourself and your friends to see who can get to the top. We believe in you!</p><br>
    <p class="text-center">
      {% if logged_in %}
      <a href="/categories" class="link-dotted">BEGIN PLAYING</a>
      {% else %}
      <a href="/signup" class="link-dotted">GET STARTED</a>
      {% endif %}
    </p>
</div>
{% endblock content %}

{% block enddiv %}
{% endblock enddiv %}
