<!--Shaolin Dragons
    Jasper Cheung, Shannon Lau, Carol Pan, Helen Ye
    SoftDev pd7
    P02 - 4Gifs1Word -->

{% extends "base.html" %}

  {% block nav %}
  <div class="container-fluid bg-gradient banner">
    <nav class="navbar">
      <div class="container" id="nav">
        <a href="/" class="navbar-left" style="margin-right:15px;"><img src="../static/logo.png" width="50" height="50"></a>
        <div class="navbar-header">
          <a class="navbar-brand" href="/">4 GIFS 1 WORD</a>
        </div>
        {% if logged_in %}
	<div class="navbar-right">
	  <a class="btn btn-outline btn-icon" href="#"><span class="glyphicon glyphicon-log-out"></span></a>
	</div>
	
	  <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link" href="/categories">PLAY</a></li>
	    <li class="nav-item"><a class="nav-link" href="/rankings">RANKINGS</a></li>
	    <li class="nav-item"><a class="nav-link" href="/appstats">APP STATS</a></li>
	    <li class="nav-item"><b>WELCOME, {{ username }}</b><span class="badge">{{ score }}</span></li>	     
	  </ul>
	 

	  {% else %}
	  <div class="navbar-right">
	    <li class="nav-item"><b>WELCOME, GUEST</b><span class="badge">{{ score }}</span></li>
            <a class="btn btn-outline" href="/login">LOG IN</a>
            <a class="btn btn-outline" href="/signup">SIGN UP</a>
	  </div>
          {% endif %}
       
      </div>
    </nav>
    {% endblock nav %}

{% block content %}
<p>RANKINGS PAGE!</p>
{% endblock %}
