<!--Shaolin Dragons
    Jasper Cheung, Shannon Lau, Carol Pan, Helen Ye
    SoftDev pd7
    P02 - 4Gifs1Word -->

{% extends "base.html" %}

{% block content %}

<div class="container-fluid bg-gradient banner">
    <nav class="navbar">
      <div class="container" id="nav">
        <a href="/" class="navbar-left" style="margin-right:15px;"><img src="../static/logo.png" width="50" height="50"></a>
        <div class="navbar-header">
          <a class="navbar-brand" href="/">4 GIFS 1 WORD</a>
        </div>
        <div class="navbar-right">
          <a class="btn btn-outline" href="/login">LOG IN</a>
          <a class="btn btn-outline" href="/signup">SIGN UP</a>
        </div>
      </div>
    </nav>
</div>

<div class="card card-center">
  <h1 class="card-header">SIGN UP</h1>
  <form action="/login" method="POST">
     <div class="form-group">
       <input type="text" class="form-control text-round" placeholder="Username" name="username" required>
     </div>
     <div class="form-group">
       <input type="password" class="form-control text-round" placeholder="Password" name="password" required>
     </div>
      <div class="form-group">
       <input type="password" class="form-control text-round" placeholder="Confirm Password" name="confirm_password" required>
     </div>
     <input class="btn btn-block" type="submit" value="Go!" name="login">
  </form><br>
  <div class="text-right">
    <a href="/categories" class="link-dotted">or play as Guest</a>
    </div>
</div>


{% endblock %}
